

{{ form_start(form) }}
    {{ form_label(form.nomMonnaie,"Monnaie") }}
    {{ form_widget(form.nomMonnaie) }}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
