{% extends 'base.html.twig' %}

{% block title %}Monnaie{% endblock %}

{% block body %}
    <h1>Monnaie</h1>
<div class="  mb-5 mt-5  " style="margin-right: 15%;margin-left: 15%">


<div class=" centerText  col-mb-3 mr-2 card  shadow p-3 mb-5  rounded"
     style="margin-top: 10px; background-color: beige;">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ monnaie.id }}</td>
            </tr>
            <tr>
                <th>NomMonnaie</th>
                <td>{{ monnaie.nomMonnaie }}</td>
            </tr>
        </tbody>
    </table>

</div>

    <a class="btn btn-primary m" href="{{ path('monnaie_index') }}"><i class="fas fa-undo"></i></a>

    <a class="btn btn-primary" href="{{ path('monnaie_edit', {'id': monnaie.id}) }}"><i class="fas fa-edit"></i></a>

    {{ include('monnaie/_delete_form.html.twig') }}
</div>
    {% endblock %}
