{{ form_start(form) }}
<div class="form-group container-fluid">
    <div class="row">
        {{ form_label(form.nomItem,"Nom") }}
        {{ form_widget(form.nomItem,{'attr':{'class':'form-control'}}) }}

    </div>

    <div class=" row mt-2">
        {{ form_label(form.imageAvInsertion,"Image") }}
        {{ form_widget(form.imageAvInsertion) }}

    </div>

    <div class="row">
        {{ form_label(form.descriptionItem,"Description") }}
        {{ form_widget(form.descriptionItem,{'attr':{'class':'form-control'}}) }}

    </div>




    <div class="row">
        {{ form_label(form.poids,"Poids") }}
        {{ form_widget(form.poids,{'attr':{'class':'form-control'}}) }}

    </div>


    <div class="row">
        {{ form_label(form.beneficeMaluce,"Benefice/Maluce") }}
        {{ form_widget(form.beneficeMaluce,{'attr':{'class':'form-control'}}) }}

    </div>




    <div class="row">
        <div class="col-md-4"> {{ form_label(form.valeur,"Prix") }}
            {{ form_widget(form.valeur,{'attr':{'class':'form-control'}}) }}
            {#{{ form_label(form.monnaie,"Monnaie") }}#}
        </div>

        <div class="col-md-3">
            {{ form_row(form.monnaie,{'attr':{'class':'form-control'}}) }}
        </div>

    </div>

    <div class="row">
        <div class=col-md-4">{{ form_label(form.degat,"Dégat de l'arme") }}
            {{ form_widget(form.degat,{'attr':{'class':'form-control'}}) }}</div>
        <div class="col-md-3">
            {{ form_row(form.typeDes,{'attr':{'class':'form-control'}}) }}
        </div>


    </div>

    <div class="row">
        <div class=col-md-4">{{ form_label(form.typeArme,"Type de l'arme ") }}
            {{ form_widget(form.typeArme,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.typeCategorie,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.materiel,{'attr':{'class':'form-control'}}) }}
        </div>


    </div>



</div>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
