{% extends 'base.html.twig' %}

{% block title %}Liste des Armes{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Armes</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a  class="ml-5  mr-5 btn btn-primary"href="{{ path('arme_new') }}">Ajouter</a>
    {% endif %}
    <div class=" centerText   ml-5  mr-5 card  shadow p-3 mb-5  rounded"
         style="margin-top: 10px; background-color: beige;">
<div class="container-fluid ">
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>NomItem</th>
                <th>DescriptionItem</th>
                {#<th>Poids</th>#}
                {#<th>BeneficeMaluce</th>#}
                {#<th>Valeur</th>#}
                {#<th>Degat</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arme in armes %}
            <tr>
                <td> <img class="picture" src="{{ asset('upload/'~arme.fichier.contenueFichier) }}"/></td>
                <td>{{ arme.nomItem }}</td>
                <td>{{ arme.descriptionItem }}</td>
                {#<td>{{ arme.poids }} kg</td>#}
                {#<td>{{ arme.beneficeMaluce }}</td>#}
                {#<td>{{ arme.valeur }} {{ arme.monnaie.nomMonnaie }}</td>#}
                {#<td>{{ arme.degat }} {{ arme.typeDes.des }}</td>#}
                <td>
                    <a CLASS="btn btn-primary" href="{{ path('arme_show', {'id': arme.id}) }}"><i class="fas fa-info-circle"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a CLASS="btn btn-primary" href="{{ path('arme_edit', {'id': arme.id}) }}"><i class="fas fa-edit"></i></a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucune arme(s) a été trouvé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
   </div>
{% endblock %}
