{% extends 'base.html.twig' %}

{% block title %}Armure index{% endblock %}

{% block body %}
    <h1>Liste des armure</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de l'armure</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for armure in armures %}
            <tr>
                <td>{{ armure.id }}</td>
                <td>{{ armure.nomItem }}</td>
                <td>{{ armure.descriptionItem }}</td>
                <td>
                    <a href="{{ path('armure_show', {'id': armure.id}) }}">show</a>
                    <a href="{{ path('armure_edit', {'id': armure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">il n'y a pas encore d'armure</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('armure_new') }}">Create new</a>
{% endblock %}
