{% extends 'base.html.twig' %}

{% block title %}CapaciteRacial index{% endblock %}

{% block body %}
    <h1>CapaciteRacial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Capacite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capacite_racial in capacite_racials %}
            <tr>
                <td>{{ capacite_racial.id }}</td>
                <td>{{ capacite_racial.capacite }}</td>
                <td>
                    <a href="{{ path('capacite_racial_show', {'id': capacite_racial.id}) }}">show</a>
                    <a href="{{ path('capacite_racial_edit', {'id': capacite_racial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('capacite_racial_new') }}">Create new</a>
{% endblock %}
