{% extends 'base.html.twig' %}

{% block title %}Guilde{% endblock %}

{% block body %}
    <h1>Guilde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guilde.id }}</td>
            </tr>
            <tr>
                <th>NomGuilde</th>
                <td>{{ guilde.nomGuilde }}</td>
            </tr>
            <tr>
                <th>MaitreGuilde</th>
                <td>{{ guilde.MaitreGuilde }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guilde_index') }}">back to list</a>

    <a href="{{ path('guilde_edit', {'id': guilde.id}) }}">edit</a>

    {{ include('guilde/_delete_form.html.twig') }}
{% endblock %}
