{{ form_start(form) }}
<div class="form-group mb-1 container-fluid">
    {{ form_label(form.typeMateriel,'Nom du matériel :') }}
    {{ form_widget(form.typeMateriel,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.typeMateriel) }}
    <button class="btn btn-primary mt-2">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
