{% extends 'base.html.twig' %}

{% block title %}LangueType{% endblock %}

{% block body %}
    <h1>LangueType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ langue_type.id }}</td>
            </tr>
            <tr>
                <th>LangueType</th>
                <td>{{ langue_type.langueType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('langue_type_index') }}">back to list</a>

    <a href="{{ path('langue_type_edit', {'id': langue_type.id}) }}">edit</a>

    {{ include('langue_type/_delete_form.html.twig') }}
{% endblock %}
