{% extends 'base.html.twig' %}

{% block title %}RangGuilde index{% endblock %}

{% block body %}
    <h1>RangGuilde index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rang</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rang_guilde in rang_guildes %}
            <tr>
                <td>{{ rang_guilde.id }}</td>
                <td>{{ rang_guilde.rang }}</td>
                <td>
                    <a href="{{ path('rang_guilde_show', {'id': rang_guilde.id}) }}">show</a>
                    <a href="{{ path('rang_guilde_edit', {'id': rang_guilde.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rang_guilde_new_personnage', {'idPersonnage': personnage.id}) }}">Create new</a>
    <a href="{{ path('personnage_show', {'id': personnage.id}) }}">retour</a>
{% endblock %}
