{% extends 'base.html.twig' %}

{% block title %}TypeMagie{% endblock %}

{% block body %}
    <h1>TypeMagie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_magie.id }}</td>
            </tr>
            <tr>
                <th>NomTypeMagie</th>
                <td>{{ type_magie.nomTypeMagie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_magie_index') }}">back to list</a>

    <a href="{{ path('type_magie_edit', {'id': type_magie.id}) }}">edit</a>

    {{ include('type_magie/_delete_form.html.twig') }}
{% endblock %}
