{% extends 'base.html.twig' %}

{% block title %}NiveauMetier index{% endblock %}

{% block body %}
    <h1>NiveauMetier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NiveauMetier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_metier in niveau_metiers %}
            <tr>
                <td>{{ niveau_metier.id }}</td>
                <td>{{ niveau_metier.niveauMetier }}</td>
                <td>
                    <a href="{{ path('niveau_metier_show', {'id': niveau_metier.id}) }}">show</a>
                    <a href="{{ path('niveau_metier_edit', {'id': niveau_metier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('niveau_metier_new') }}">Create new(coté admin)</a>
    <a href="{{ path('user_niveau_metier') }}">Create new(coté user)</a>
{% endblock %}
