{% extends 'base.html.twig' %}

{% block title %}NiveauMetier index{% endblock %}

{% block body %}
    <h1>NiveauMetier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau du Metier</th>
                <th>Metier</th>
                <th>Personnage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for niveau_metier in niveau_metiers %}
            {% if  niveau_metier.personnage.user ==app.user %}
            <tr>
                <td>{{ niveau_metier.id }}</td>
                <td>{{ niveau_metier.niveauMetier }}</td>
                <td>{{ niveau_metier.metier.nomMetier }}</td>
                <td>{{ niveau_metier.personnage.nomPersonnage}} {{ niveau_metier.personnage.prenomPersonnage }}</td>
                <td>
                    {#<a href="{{ path('niveau_metier_show', {'id': niveau_metier.id}) }}">show</a>#}
                    <a href="{{ path('personnage_niveau_metier_editer', {'id': niveau_metier.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('personnage_niveau_metier', {'idPersonnage': personnage.id}) }}">Add Metier</a>
    <a href="{{ path('personnage_show', {'id': personnage.id}) }}">retour</a>
{% endblock %}
