{% extends 'base.html.twig' %}

{% block title %}InventaireBourse{% endblock %}

{% block body %}
    <h1>InventaireBourse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inventaire_bourse.id }}</td>
            </tr>
            <tr>
                <th>ValeurBoursePerso</th>
                <td>{{ inventaire_bourse.valeurBoursePerso }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inventaire_bourse_index') }}">back to list</a>

    <a href="{{ path('inventaire_bourse_edit', {'id': inventaire_bourse.id}) }}">edit</a>

    {{ include('inventaire_bourse/_delete_form.html.twig') }}
{% endblock %}
