{% extends 'base.html.twig' %}

{% block title %}Magie index{% endblock %}

{% block body %}
    <h1>Magie index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Description</th>
                <th>Poids</th>
                <th>Benefice/Maluce</th>
                <th>Valeur</th>
                <th>Degat Magie</th>
                <th>Cout De Mana</th>
                <th>Niveau  Magie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for magie in magies %}
            <tr>

                <td>{{ magie.nomItem }}</td>
                <td>{{ magie.descriptionItem }}</td>
                <td>{{ magie.poids }}</td>
                <td>{{ magie.beneficeMaluce }}</td>
                <td>{{ magie.valeur }}</td>
                <td>{{ magie.degatMagie }}</td>
                <td>{{ magie.coutDeMana }}</td>
                <td>{{ magie.niveauMagie }}</td>
                <td>
                    <a href="{{ path('magie_show', {'id': magie.id}) }}"><i class="fas fa-info-circle"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('magie_edit', {'id': magie.id}) }}"><i class="fas fa-edit"></i></a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune magie inséré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('magie_new') }}">Create new</a>
{% endblock %}
