{% extends 'base.html.twig' %}

{% block title %}Magie{% endblock %}

{% block body %}
    <h1>Magie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magie.id }}</td>
            </tr>
            <tr>
                <th>NomItem</th>
                <td>{{ magie.nomItem }}</td>
            </tr>
            <tr>
                <th>DescriptionItem</th>
                <td>{{ magie.descriptionItem }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ magie.poids }}</td>
            </tr>
            <tr>
                <th>BeneficeMaluce</th>
                <td>{{ magie.beneficeMaluce }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ magie.valeur }}</td>
            </tr>
            <tr>
                <th>DegatMagie</th>
                <td>{{ magie.degatMagie }}</td>
            </tr>
            <tr>
                <th>CoutDeMana</th>
                <td>{{ magie.coutDeMana }}</td>
            </tr>
            <tr>
                <th>NiveauMagie</th>
                <td>{{ magie.niveauMagie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('magie_index') }}">back to list</a>

    <a href="{{ path('magie_edit', {'id': magie.id}) }}">edit</a>

    {{ include('magie/_delete_form.html.twig') }}
{% endblock %}
