{% extends 'base.html.twig' %}

{% block title %}Personnage index{% endblock %}

{% block body %}
    <h1>Personnage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                {#<th>DescriptionPersonnege</th>#}
                {#<th>Sexe</th>#}
                {#<th>Age</th>#}
                {#<th>Poids</th>#}
                {#<th>Taille</th>#}
                {#<th>Niveau</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            {% if  personnage.user.id ==app.user.id %}
            <tr>
                <td>{{ personnage.id }}</td>
                <td>{{ personnage.nomPersonnage }}</td>
                <td>{{ personnage.PrenomPersonnage }}</td>
                {#<td>{{ personnage.DescriptionPersonnege }}</td>#}
                {#<td>{{ personnage.sexe }}</td>#}
                {#<td>{{ personnage.age }}</td>#}
                {#<td>{{ personnage.poids }}</td>#}
                {#<td>{{ personnage.taille }}</td>#}
                {#<td>{{ personnage.niveau }}</td>#}
                <td>
                    <a href="{{ path('personnage_show', {'id': personnage.id}) }}">show</a>
                    <a href="{{ path('personnage_edit', {'id': personnage.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnage_new',{'idUser':app.user.id}) }}">Create new</a>
    <a href="{{ path('personnage_new_user',{'idUser':app.user.id}) }}">Create new</a>
{% endblock %}
