{% extends 'base.html.twig' %}

{% block title %}TypeCategorie{% endblock %}

{% block body %}
    <h1>TypeCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_categorie.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ type_categorie.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_categorie_index') }}">back to list</a>

    <a href="{{ path('type_categorie_edit', {'id': type_categorie.id}) }}">edit</a>

    {{ include('type_categorie/_delete_form.html.twig') }}
{% endblock %}
