

<div class="  card  shadow p-2 mb-5  rounded"  style=" background-color: beige;">
    <p>bienvenu a toi {{ app.user.username }}</p>
</div>

<div class="  card  shadow p-2 mb-5  rounded"  style=" background-color: beige;">
    <p><a href="#">liste des parties </a></p>
</div>

<div class="row">
    {#Magie#}
    <div class=" ">

        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Magie
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('magie_index') }}">Liste des magies</a></li>
                            <li><a href="{{ path('type_magie_index') }}">Catégorie des magies</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>
{#Talent#}
    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Talents
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('talent_index') }}">Liste des talents</a></li>
                            <li><a href="{{ path('type_talent_index') }}">Catégorie des talents</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>


{#Armure#}

    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Armure
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('armure_index') }}">Liste des armures</a></li>
                            <li><a href="{{ path('equipement_index') }}">Catégorie des armures</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

    {#Arme#}
    <div class="   ">


        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Armes
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('arme_index') }}">Liste des arme</a></li>
                            <li><a href="{{ path('type_categorie_index') }}">Catégorie des arme</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

{#monnaie#}
    <div class=" ">

        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                      Monnaie
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('monnaie_index') }}">Liste des Monnaies</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

{#Dés#}
    <div class=" ">

        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Dés
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('type_des_index') }}">Liste des Dés</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>


    <div class=" ">

        <div class="col-mb-3 mr-2 ">
            <div class="card mb-4 shadow p-2 mb-5  rounded " style=" background-color: beige;">
                <div class="card-body">
                    <div class="card-title">
                        Matéraux
                    </div>
                    <div class="card-text">
                        <ul>
                            <li><a href="{{ path('materiel_index') }}">Liste des Matériaux</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>


    </div>

</div>
